*{
  box-sizing: border-box;
}

body{
  background-color: orange;
  font-family: 'Dancing Script', cursive;
}

p{
  font-size: x-large;
}

.title{
  display: flex;
  justify-content: space-between;
}

button{
  font-size: 15px;
  font-family: 'Dancing Script', cursive;
  transition: all 1s ease;
  box-shadow: 2px 2px 2px #888888;
  margin-left: 5px;
  border-radius: 100px;
  font-weight: 700px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border-color: white;
}

button:hover{
  transform: scale(1.1);
}

section{
    margin-left: 20px;
}

main > h1{
    color: black;
}
